/*@media screen and (min-width: 320px) {
html {font-size: 32px;}
}

@media screen and (min-width: 480px) {
html {font-size: 28px;}
}

@media screen and (min-width: 768px) {
html {font-size: 18px;}
}*/

@media screen and (min-width: 1024px) {
html {font-size: 16px;}
}

a:link {
 color: blue;
 text-decoration: underline;
}

a:visited {
 color: blue;
 text-decoration: underline;
}

a:hover {}

a:active {
 color: blue;
 text-decoration: underline;
}

h2 {
  color: #191970;/*文字色*/
}

h3 {
  color: #191970;/*文字色*/
  padding: 0.1em 0;/*上下の余白*/
  /*border-top: solid 3px #191970;*/
  border-bottom: solid 3px #191970;/*下線*/
}
	
p {
    margin-left: 20px;
    font-size: 100%;
    padding: 0;
}

ol {
    margin-left: 5px;
}

.body {
　　color: #191970;
    max-width: auto;
    margin-top: 2px;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: auto;
    font-size: 100%;
    /*font-family: 'ヒラギノ丸ゴ ProN', 'メイリオ', 'ＭＳ Ｐゴシック';*/
    background: #FFFFFF;
}

.container {
    color: #191970;
    max-width: 900px;
    margin: 2px auto;
    font-size: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: normal;            /* ← 修正 */
    overflow-wrap: anywhere;       /* ← 追加 */
    background: #FFFFFF;
}


/*.menu {
    width: 100%;
    text-align: right;
    text-decoration: none;
    font-size: 100%;
    list-style-type: none;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}*/

.menu {
    width: 100%;
    text-align: right;
    text-decoration: none;
    font-size: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*.menu li {
    text-align: justify;
    list-style: none;
　　text-decoration: none;
    display: inline-block;
    width: auto;
    min-width: 100px;
}*/

.menu li {
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    width: auto;
    min-width: 100px;
}

.menu li.current a {
    color: #cccccc;
}

.menu li a {
    text-decoration: none;
}

.foot {
    color: #191970;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 90%;
    /*font-family: 'ヒラギノ丸ゴ ProN', 'メイリオ', 'ＭＳ Ｐゴシック';*/
    background: #FFFFFF;
}

/* =========================
   Mobile optimization
   ========================= */
@media screen and (max-width: 768px) {

  html {
    font-size: 16px;   /* スマホ標準 */
  }

  .container {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }

  .body {
    font-size: 100%;
    line-height: 1.7;
  }

  p {
    margin-left: 0;
  }

  ul {
    padding-left: 18px;
  }

  /* メニューを折り返し型に */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu li {
    display: block;
    min-width: unset;
    width: 48%;
    margin-bottom: 8px;
  }

  .menu li a {
    display: block;
    padding: 8px 4px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
}




