h2 {
  color: #191970;/*文字色*/
  
}

h3 {
  color: #191970;/*文字色*/
  padding: 0.1em 0;/*上下の余白*/
  /*border-top: solid 3px #191970;*/
  border-bottom: solid 3px #191970;/*下線*/
}
	
.container {
	width: 100%;
    display: flex;
	}

.body {
    width: auto;
	margin: 2em;
    }

.side {
	white-space: nowrap;
	width: auto;
    height: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 15px;
    }



